{% extends 'plans/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">ChefIT</h1>
  <p class="lead">inventory and order</p>
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-primary">Get Premium</button></a>
</div>

<div class="container">

  <h3>What we do?</h3>
  <ul>
    

    <li>count your stock</li>
    <li>autiomatically order</li>
    <li>get better prices</li>
    <li>save time</li>

    
  </ul>
</div>
{% endblock %}
